<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
	<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
  {% block head%}{% endblock%}
</head>
<title>{% block title %}{% endblock %}</title>
<body class="bg-light">
<nav class="navbar navbar-expand-lg border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand text-dark" href="/">
        <img src="/static/img/logo.svg"
             width="30"
             height="30"
             class="d-inline-block align-top"
             alt="">
        Site Title
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% if user %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-outline-dark"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-expanded="false">{{ user }}</a>
        <div class="dropdown-menu dropdown-menu-right px-2"
          aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link active btn btn-"
           aria-current="page"
           href="/login">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% block body %}
{% endblock %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
{% block js%}
{% endblock %}
</body>
</html>
